<div class="assign-data simpleMapWidget-assign-data">
    <div class="inline-edit">
        <div class="inline-edit" ng-controller="simpleMapWidgetAssignDataCtrl">
            <div class="master-panel" ng-include="widget.assignColumns"></div>

            <div class="details-panel" ng-include="widget.advancedProperties"></div>

            <div class="details-panel" ng-include="widget.colorProperties"></div>

            <div class="details-panel" ng-include="widget.iconProperties" ng-if="showIconEdit()"></div>
        </div>
    </div>
</div>