<div class="simpleMapWidget-config location-config row">
    <div class="row">
        <input type="checkbox" ng-model="widget.config.properties.autofit"/> Autofit
    </div>
    <div class="row">
        <div class="col-xs-5" ng-if="!widget.config.properties.autofit">
            <div class="row">Latitude</div>
            <div class="row"><input class="form-control" type="number" ng-model="widget.config.properties.location.lat"/></div>
        </div>
        <div class="col-xs-push-1 col-xs-6" ng-if="!widget.config.properties.autofit">
            <div class="row">Longitude</div>
            <div class="row"><input class="form-control" type="number" ng-model="widget.config.properties.location.lng"/></div>
        </div>
        <div class="col-xs-12" ng-if="!widget.config.properties.autofit">
            <div class="row"><input type="button" class="form-control btn btn-default" ng-click="widget.config.editLocation = !widget.config.editLocation" value="Move & Zoom"/></div>
        </div>
    </div>
</div>